Source: open-infrastructure-container-tools
Section: admin
Priority: optional
Maintainer: Daniel Baumann <mail@daniel-baumann.ch>
Build-Depends:
 asciidoc,
 debhelper (>= 9),
 dh-systemd,
 docbook-xml,
 docbook-xsl,
 libxml2-utils,
 xsltproc,
Standards-Version: 3.9.8
Homepage: http://open-infrastructure.net/container-tools
Vcs-Browser: https://github.com/daniel-baumann/open-infrastructure-container-tools
Vcs-Git: https://github.com/daniel-baumann/open-infrastructure-container-tools

Package: open-infrastructure-container-tools
Architecture: all
Depends:
 crudini (>= 0.7),
 dbus,
 systemd-container | systemd (<< 224-2~),
 ${misc:Depends},
Recommends:
 debootstrap,
 screen,
Conflicts:
 radiance,
Provides:
 container-tools,
Description: Tools to manage systemd-nspawn containers
 A Linux container is an operating-system-level virtualization environment for
 running multiple isolated Linux systems (containers) on a single Linux control
 host.
 .
 container-tools provides the system integration for managing containers using
 systemd-nspawn.
