[Unit]
Description="Container: %i"

[Service]
Type=simple
ExecStart=/usr/bin/container start -n %i --exec-nspawn
ExecStartPost=/usr/bin/container start -n %i --afterstart
ExecStopPost=/usr/bin/container stop -n %i --cleanup
KillMode=mixed

[Install]
WantedBy=multi-user.target
